{% extends "base.html" %}

{% block content %}
    <title>Login</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Start of the form -->
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="form-error">
                    {{ form.email.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="form-error">
                    {{ form.password.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{  form.captcha() }}
            {%  if form.captcha.errors  %}
                <div class="form-error">
                    {{ form.captcha.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}